<h1>MochiMi</h1>

<h2>
  <a href="http://www.railstutorial.org/">Level 1</a> 
</h2>
<p>
  <a href="http://www.railstutorial.org/">Level 2</a>
</p>
<p>
  <a href="http://www.railstutorial.org/">Level 3</a>
</p>
<p>
  <a href="http://www.railstutorial.org/">Level 4</a>
</p>
<p>
  <a href="http://www.railstutorial.org/">Level 5</a>
</p>

<%= link_to "Submit Questionnaire!", "#", :class => "signup_button round" %>