<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "About", '#' %></li>
    <li><%= link_to "Contact", '#' %></li>
    <li><a href="http://news.railstutorial.org/">News</a></li>
    <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
  </ul>
</div>