<div id="header" class="round">
  <%= image_tag("mochi_bunnies_girls_t_shirt-p235759192799421781ye7t_400.jpg", :alt => "Sample App", :class => "round") %>
  <ul class="navigation round">
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Help", '#' %></li>
    <li><%= link_to "Sign in", '#' %></li>
  </ul>
</div>